<div class="banner">
	<div class="row fullwidth">
	  <div class="col-md-12">
		<ul class="bannerSlider">
		  <!-- Slide 1 -->
		  <li class="slide">
			<div class="slide__image">
			  <a href="#">
				<img src="assets/imagenes/bn04.jpg" alt="Banner 1" />
			  </a>
			  <div class="slide__text">
				<h1>Bienvenidos</h1>
				<h3>Venta y distribución de productos y herramientas. ofrecemos una amplia gama de productos y servicios líderes en la industria de ferretería y transmisión de potencia. </h3>
			  </div>
			  <div class="slide_image_product1">
				<a href="#">
				  <img src="assets/imagenes/rotoheader.png" alt="Productos1" />
				</a>
			  </div>
			</div>
		  </li>
		  <!-- Slide 2 -->
		  <li class="slide">
			<div class="slide__image">
			  <a href="#">
				<img src="assets/imagenes/bn02.jpg" alt="Banner 2" />
			  </a>
			  <div class="slide__text">
				<h1>Sectores especializados</h1>
				<h3>Nos enfocamos en el desarrollo interno y externo a través de estrategias innovadoras para generar beneficios para nuestros clientes y empleados.</h3>
			  </div>
			  <div class="slide_image_product2">
				<a href="#">
				  <img src="assets/imagenes/recursoheader.png" width="90%" alt="Productos2" />
				</a>
			  </div>
			</div>
		  </li>
		  <!-- Slide 3 -->
		  <li class="slide">
			<div class="slide__image">
			  <a href="#">
				<img src="assets/imagenes/bn1.jpg" alt="Banner 3" />
			  </a>
			  <div class="slide__text">
				<h1>Soluciones integrales para sus necesidades</h1>
				<h3>Nuestro equipo de expertos está a su disposición para brindarle la asesoría técnica que necesita para encontrar la solución perfecta para sus necesidades específicas.</h3>
				<button class="contact-button">Contacta un asesor</button>
			  </div>
			  <div class="slide_image_product3">
				<a href="#">
				  <img src="assets/imagenes/recursoheader2.png" alt="Productos3" />
				</a>
			  </div>
			</div>
		  </li>
		</ul>
	  </div>
	</div>
  </div>
  