 <!-- Site footer -->
 <footer class="site-footer">
  <div class="container">
    <div class="row rowcel">
      <div class="col-sm-10 col-md-6">
        <h6>Acerca de</h6>
        <p class="text-justify">Bienvenido a INFEJO donde la calidad, la integridad y el compromiso con la excelencia son los pilares fundamentales de nuestro éxito.</p>
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>Categorías</h6>
        <ul class="footer-links">
          <li><a href="#">Herramientas</a></li>
          <li><a href="#">Adhesivos y Vinipel</a></li>
          <li><a href="#">Lubricantes</a></li>
          <li><a href="#">Rodamientos</a></li>
          <li><a href="#">Sellos Mecánicos</a></li>
          <li><a href="#">Abrasivos</a></li>
          <li><a href="#">Seguridad y Protección</a></li>
          
        </ul>
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>Acceso Rápido</h6>
        <ul class="footer-links">
          <li><a href="http://industriasferreterasjs.com/">Inicio</a></li>
          <li><a href="http://industriasferreterasjs.com/quienessomos">Quienes Somos</a></li>
          <li><a href="https://api.whatsapp.com/send?phone=3126063288">Contáctanos</a></li>
           <li><a href="http://industriasferreterasjs.com/">Política de Privacidad</a></li>
          <li><a href="http://industriasferreterasjs.com/">Política de devoluciones y reembolsos</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2024 Todos los Derechos Reservados  
          <a href="https://estudiosercreativo.com/">| S E R  CREATIVO |</a>
        </p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="https://www.facebook.com/p/Industrias-Ferreteras-Juan-Jose-100077337870434"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="https://api.whatsapp.com/send?phone=3126063288"><i class="fa fa-whatsapp"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>