<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row rowcel">
      <div class="col-sm-12 col-md-6">
        <h6>Acerca de</h6>
        <p class="text-justify">Ferretería XYZ <i>TODO LO QUE NECESITAS</i> es tu tienda de confianza para todas tus necesidades de hardware. Nos especializamos en ofrecer una amplia variedad de herramientas, materiales de construcción y productos de ferretería de alta calidad. Nuestro objetivo es proporcionar a nuestros clientes productos duraderos y un excelente servicio al cliente.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categorías</h6>
        <ul class="footer-links">
          <li><a href="#">Herramientas</a></li>
          <li><a href="#">Materiales de Construcción</a></li>
          <li><a href="#">Fontanería</a></li>
          <li><a href="#">Electricidad</a></li>
          <li><a href="#">Pinturas</a></li>
          <li><a href="#">Jardinería</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Acceso Rápido</h6>
        <ul class="footer-links">
          <li><a href="http://ferreteriaxyz.com/about/">Sobre Nosotros</a></li>
          <li><a href="http://ferreteriaxyz.com/contact/">Contáctanos</a></li>
          <li><a href="http://ferreteriaxyz.com/contribute/">Contribuir</a></li>
          <li><a href="http://ferreteriaxyz.com/privacy-policy/">Política de Privacidad</a></li>
          <li><a href="http://ferreteriaxyz.com/sitemap/">Mapa del Sitio</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2024 Todos los Derechos Reservados por 
     <a href="#">Ferretería XYZ</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>
