<article class="stores-map">
    <div id="store_bratislava" class="stores-map__main">
        <div class="stores js-stores">
            <div class="map-wrapper">
                <img src="/assets/imagenes/MAPA2.jpg" alt="Bogotá" class="map">
                <div class="map-point map-point-bratislava">
                    <div class="map-point__marker"></div>
                    <div class="map-point__marker-radar"></div>
                    <div class="map-point__tooltip"><a href="https://maps.app.goo.gl/3V6FZL2pLPxQwddy6">Abrir en Google Maps</a></div>
                </div>
            </div>

            <div class="content-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="content-store col-lg-5 col-md-7 col-sm-9 col-xs-12">
                            <div class="content-store__inner">
                                <h2 class="content-store__title">Industrias Ferreteras Juan José<br><strong>INFEJO</strong></h2>
                                <div class="content-store__contact">
                                    <ul class="contact-list">
                                        <li class="contatct-list__item mail">
                                            <a href="#" class="contact-list__item__wrapper">
                                                <div class="contact__icon phone-icon"><i class="fas fa-map-marker-alt"></i></div>
                                                <div class="contact__inner">
                                                    <h4 class="contact__label">Dirección</h4>
                                                    <div class="contact__value">Cl. 5 #25a 07 local esquinero, Los Mártires, Bogotá</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="contatct-list__item number">
                                            <a href="tel:+6017035777" class="contact-list__item__wrapper">
                                                <div class="contact__icon phone-icon"><i class="fas fa-phone"></i></div>
                                                <div class="contact__inner">
                                                    <h4 class="contact__label">Teléfono</h4>
                                                    <div class="contact__value">6017035777</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="contatct-list__item mail">
                                            <a href="mailto:contacto@ferreteria.com" class="contact-list__item__wrapper">
                                                <div class="contact__icon phone-icon"><i class="fas fa-envelope-open"></i></div>
                                                <div class="contact__inner">
                                                    <h4 class="contact__label">E-mail</h4>
                                                    <div class="contact__value">Comercial&commat;industriasferreterasjs.com.co</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="contatct-list__item mail">
                                            <a href="#" class="contact-list__item__wrapper">
                                                <div class="contact__icon phone-icon"><i class="fas fa-clock"></i></div>
                                                <div class="contact__inner">
                                                    <h4 class="contact__label">Horarios de apertura</h4>
                                                    <div class="contact__value">Lun-Sab: 8:00am </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="content-store__more-info">
                                    <div class="opening-hours">
                                        <h4 class="opening-hours__title">Horarios</h4>
                                        <ul class="opening-hours__days">
                                            <li><p>Lunes</p><strong>8:00-17:30</strong></li>
                                            <li><p>Martes</p><strong>8:00-17:30</strong></li>
                                            <li><p>Miércoles</p><strong>8:00-17:30</strong></li>
                                            <li><p>Jueves</p><strong>8:00-17:30</strong></li>
                                            <li><p>Viernes</p><strong>8:00-17:30</strong></li>
                                            <li><p>Sábado</p><strong>8:00-13:00</strong></li>
                                        </ul>
                                    </div>
                                    <!-- <div class="shop-picture">
                                        <img src="https://picsum.photos/200" width="200px" height="200px" alt="Ferretería Bogotá">
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="store_zilina" class="stores-map__main">
        <div class="stores js-stores">
            <div class="map-wrapper">
                <img src="/assets/imagenes/MAPA2.jpg" alt="Bogotá" class="map">
                <div class="map-point map-point-zilina">
                    <div class="map-point__marker"></div>
                    <div class="map-point__marker-radar"></div>
                    <div class="map-point__tooltip"><a href="https://maps.app.goo.gl/hjiBccCqq8jcTJuJ7">Abrir en Google Maps</a></div>
                </div>
            </div>

            <div class="content-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="content-store col-lg-5 col-md-7 col-sm-9 col-xs-12">
                            <div class="content-store__inner">
                                <h2 class="content-store__title">Ferretería <br><strong>Bogotá</strong></h2>
                                <div class="content-store__contact">
                                    <ul class="contact-list">
                                        <li class="contatct-list__item mail">
                                            <a href="#" class="contact-list__item__wrapper">
                                                <div class="contact__icon phone-icon"><i class="fas fa-map-marker-alt"></i></div>
                                                <div class="contact__inner">
                                                    <h4 class="contact__label">Dirección</h4>
                                                    <div class="contact__value">Calle 123 #45-67, Bogotá</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="contatct-list__item number">
                                            <a href="tel:+57123456789" class="contact-list__item__wrapper">
                                                <div class="contact__icon phone-icon"><i class="fas fa-phone"></i></div>
                                                <div class="contact__inner">
                                                    <h4 class="contact__label">Teléfono</h4>
                                                    <div class="contact__value">+57 1 23456789</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="contatct-list__item mail">
                                            <a href="mailto:contacto@ferreteria.com" class="contact-list__item__wrapper">
                                                <div class="contact__icon phone-icon"><i class="fas fa-envelope-open"></i></div>
                                                <div class="contact__inner">
                                                    <h4 class="contact__label">E-mail</h4>
                                                    <div class="contact__value">contactoferreteria.com</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="contatct-list__item mail">
                                            <a href="#" class="contact-list__item__wrapper">
                                                <div class="contact__icon phone-icon"><i class="fas fa-clock"></i></div>
                                                <div class="contact__inner">
                                                    <h4 class="contact__label">Horarios</h4>
                                                    <div class="contact__value">Lun-Sáb: 7:00 - 18:00</div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="content-store__more-info">
                                    <div class="opening-hours">
                                        <h4 class="opening-hours__title">Horarios de Apertura</h4>
                                        <ul class="opening-hours__days">
                                            <li><p>Lunes</p><strong>7:00-18:00</strong></li>
                                            <li><p>Martes</p><strong>7:00-18:00</strong></li>
                                            <li><p>Miércoles</p><strong>7:00-18:00</strong></li>
                                            <li><p>Jueves</p><strong>7:00-18:00</strong></li>
                                            <li><p>Viernes</p><strong>7:00-18:00</strong></li>
                                            <li><p>Sábado</p><strong>7:00-18:00</strong></li>
                                        </ul>
                                    </div>
                                    <div class="shop-picture">
                                        <img src="https://picsum.photos/200" width="200px" height="200px" alt="Ferretería Bogotá">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
