<!-- <div class="best-sellers-container">
    <h1 class="best-sellers-title">Productos Más Vendidos</h1>
    <div class="gallery">
        <div *ngFor="let product of products">  
            <div class="content">
                <img [src]="product.mainimage" alt="{{product.name}}">
                <h3>{{product.name}}</h3>
                <p>{{product.description}}</p>
                <h6>{{product.price}}</h6>
                <ul>
                    <li><i class="fas fa-star checked"></i></li>
                    <li><i class="fas fa-star checked"></i></li>
                    <li><i class="fas fa-star checked"></i></li>
                    <li><i class="fas fa-star checked"></i></li>
                    <li><i class="fas fa-star checked"></i></li>
                </ul>
                <button class="buy-1" (click)="viewProduct(product.id)">Detalles</button>
            </div>      
        </div>
    </div>
</div> -->

<!-- <div class="discount-products-container">
    <h1 class="discount-title">Productos Mas Vendidos</h1>
    <div class="gallery">
        <div *ngFor="let product of products">  
            <div class="content">
                <img [src]="product.mainimage" alt="{{product.name}}">
                <h3>{{product.name}}</h3>
                <p>{{product.description}}</p>
                <h6>{{product.price}}</h6>
                <ul>
                    <li><i class="fas fa-star checked"></i></li>
                    <li><i class="fas fa-star checked"></i></li>
                    <li><i class="fas fa-star checked"></i></li>
                    <li><i class="fas fa-star checked"></i></li>
                    <li><i class="fas fa-star checked"></i></li>
                </ul>
                <button class="buy-1" (click)="viewProduct(product.id)">Detalles</button>
            </div>      
        </div>
    </div>
</div> -->


