<div class="wrap">
  <h1 class="title">Productos</h1>
  <div class="store-wrapper">
    <div class="category_list">
      <button class="custom-btn" (click)="filterProducts('all')">Todo</button>
      <button class="custom-btn" (click)="filterProducts('Herramientas')">Herramientas</button>
      <button class="custom-btn" (click)="filterProducts('Pintura')">Pintura</button>
      <button class="custom-btn" (click)="filterProducts('Seguridad')">Seguridad</button>
      <button class="custom-btn" (click)="filterProducts('Electrico')">Electrico</button>
      <button class="custom-btn" (click)="filterProducts('Abrasivos')">Abrasivos</button>
    </div>
    <section class="products-list">
      <div *ngFor="let product of filteredProducts" class="product-item" [class]="product.category">
        <img [src]="product.mainimage" alt="">
        <a (click)="viewProduct(product.id)">{{ product.name }}</a>
      </div>
    </section>
    <button class="custom-btn load-more" (click)="loadMoreProducts()">Ver más</button>
  </div>
</div>
