<div class="wrap">
  <h1 class="title">Algunos de nuestros productos</h1>
  <div class="store-wrapper">
    <div class="category_list">
      <button class="custom-btn" (click)="filterProducts('all')">Todo</button>
      <button class="custom-btn" (click)="filterProducts('herramientas')">Herramientas</button>
      <button class="custom-btn" (click)="filterProducts('materiales')">Construcción</button>
      <button class="custom-btn" (click)="filterProducts('seguridad')">Seguridad</button>
      <button class="custom-btn" (click)="filterProducts('electrico')">Electrico</button>
      <button class="custom-btn" (click)="filterProducts('plomeria')">Plomeria</button>
    </div>
    <section class="products-list">
      <div *ngFor="let product of filteredProducts" class="product-item" [class]="product.category">
        <img [src]="product.mainimage" alt="">
        <a (click)="viewProduct(product.id)">{{ product.name }}</a>
      </div>
    </section>
  </div>
</div>
