

      <!--=============== HEADER ===============-->
      <header class="header">
         <nav class="nav container">
            <div class="nav__data">
               <a href="#" class="nav__logo">
                 <img src="\assets\imagenes\Recurso 4.png" width="80px"/> </a>
               <div>
                <div class="nav__toggle" id="nav-toggle">
                   <i class="ri-menu-line nav__burger"></i>
                   <i class="ri-close-line nav__close"></i>
                </div>
               </div>
              
            </div>
 
            <!--=============== NAV MENU ===============-->
            <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                  <li><a routerLink="/" class="nav__link">Inicio</a></li>
 
                  <li><a routerLink="/quienessomos" class="nav__link">Quienes somos</a></li>
 
                  <!--=============== DROPDOWN 1 ===============-->
                  <li class="dropdown__item">
                     <div class="nav__link">
                         Productos <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                     </div>
 
                     <ul class="dropdown__menu">
                        
                        <li class="dropdown__subitem">
                         <div class="dropdown__link">
                             <i class="ri-hammer-line"></i> Herramientas <i class="ri-add-line dropdown__add"></i>
                         </div>
 
                         <ul class="dropdown__submenu">
                            <li>
                               <a routerLink="/listadoproductos/marca/Truper" class="dropdown__sublink">
                                  Truper
                               </a>
                            </li>
    
                            <li>
                               <a routerLink="/listadoproductos/marca/Pretul" class="dropdown__sublink">
                                   Pretul
                               </a>
                            </li>
                            
    
                         </ul>
                      </li>
                   
                        <!--=============== DROPDOWN SUBMENU ===============-->
                        <li class="dropdown__subitem">
                           <div class="dropdown__link">
                             <i class="ri-focus-2-fill"></i> Rodamientos <i class="ri-add-line dropdown__add"></i>
                           </div>
 
                           <ul class="dropdown__submenu">
                              <li>
                                 <a href="#" class="dropdown__sublink">
                                   SFK
                                 </a>
                              </li>
                              <li>
                                 <a href="#" class="dropdown__sublink">
                                   NTN
                                 </a>
                              </li>
                              <li>
                                 <a href="#" class="dropdown__sublink">
                                   FAG
                                 </a>
                              </li><li>
                                 <a href="#" class="dropdown__sublink">
                                   HTG
                                 </a>
                              </li>
      
                            
                           </ul>
                        </li>
                        <li class="dropdown__subitem">
                         <div class="dropdown__link">
                             <i class="ri-gradienter-line"></i> Sellos Mecánicos <i class="ri-add-line dropdown__add"></i>
                         </div>
 
                         <ul class="dropdown__submenu">
                            <li>
                               <a href="#" class="dropdown__sublink">
                                  Inpacom
                               </a>
                            </li>
    
                            <li>
                               <a href="#" class="dropdown__sublink">
                                   Sealco
                               </a>
                            </li>
    
                         </ul>
 
                      
                        <li class="dropdown__subitem">
                         <div class="dropdown__link">
                           <i class="ri-focus-2-fill"></i> Abrasivos
                         </div>
                   </li>
 
                      <li class="dropdown__subitem">
                         <div class="dropdown__link">
                             <i class="ri-shield-line"></i> Seguridad y Protección<i class="ri-add-line dropdown__add"></i>
                         </div>
                         <ul class="dropdown__submenu">
                           <li>
                              <a routerLink="/listadoproductos/category/Seguridad" class="dropdown__sublink">
                                Alturas
                              </a>
                           </li>
   
                           <li>
                              <a routerLink="/listadoproductos/category/Seguridad" class="dropdown__sublink">Visual
                              </a>
                           </li>
                           <li>
                              <a routerLink="/listadoproductos/category/Seguridad" class="dropdown__sublink">
                             Cabeza
                              </a>
                           </li>
   
                           <li>
                              <a routerLink="/listadoproductos/category/Seguridad" class="dropdown__sublink">Auditiva
                              </a>
                           </li>
                           <li>
                              <a href="#" class="dropdown__sublink">
                               Facial
                              </a>
                           </li>
   
                           <li>
                              <a routerLink="/listadoproductos/category/Seguridad" class="dropdown__sublink">
                                  Manual
                              </a>
                           </li>
                           <li>
                              <a routerLink="/listadoproductos/category/Seguridad" class="dropdown__sublink">
                             Corporal
                              </a>
                           </li>
   
                           <li>
                              <a routerLink="/listadoproductos/category/Seguridad" class="dropdown__sublink">
                                  Bloqueo y Etiquetado
                              </a>
                           </li>
                        </ul>

 
 
                     </ul>
                  </li>
                  
                 
 
              
                  <li><a href="#" class="nav__link">Contacto</a></li>
               </ul>
            </div>
            
         </nav>
      </header>