

      <!--=============== HEADER ===============-->
      <header class="header">
        <nav class="nav container">
           <div class="nav__data">
              <a href="#" class="nav__logo">
                <img src="\assets\imagenes\Recurso 4.png" width="80px"/> </a>
              
              <div class="nav__toggle" id="nav-toggle">
                 <i class="ri-menu-line nav__burger"></i>
                 <i class="ri-close-line nav__close"></i>
              </div>
           </div>

           <!--=============== NAV MENU ===============-->
           <div class="nav__menu" id="nav-menu">
              <ul class="nav__list">
                 <li><a href="#" class="nav__link">Inicio</a></li>

                 <li><a href="#" class="nav__link">Quienes somos</a></li>

                 <!--=============== DROPDOWN 1 ===============-->
                 <li class="dropdown__item">
                    <div class="nav__link">
                        Productos <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                       
                       <li class="dropdown__subitem">
                        <div class="dropdown__link">
                            <i class="ri-hammer-line"></i> Herramientas <i class="ri-add-line dropdown__add"></i>
                        </div>

                        <ul class="dropdown__submenu">
                           <li>
                              <a href="#" class="dropdown__sublink">
                                 Trupper
                              </a>
                           </li>
   
                           <li>
                              <a href="#" class="dropdown__sublink">
                                  Pretul
                              </a>
                           </li>
   
                         
                        </ul>
                     </li>
                  
                       <!--=============== DROPDOWN SUBMENU ===============-->
                       <li class="dropdown__subitem">
                          <div class="dropdown__link">
                            <i class="ri-focus-2-fill"></i> Rodamientos <i class="ri-add-line dropdown__add"></i>
                          </div>

                          <ul class="dropdown__submenu">
                             <li>
                                <a href="#" class="dropdown__sublink">
                                  SFK
                                </a>
                             </li>
     
                           
                          </ul>
                       </li>
                       <li class="dropdown__subitem">
                        <div class="dropdown__link">
                            <i class="ri-gradienter-line"></i> Sellos Mecánicos <i class="ri-add-line dropdown__add"></i>
                        </div>

                        <ul class="dropdown__submenu">
                           <li>
                              <a href="#" class="dropdown__sublink">
                                 Inpacom
                              </a>
                           </li>
   
                           <li>
                              <a href="#" class="dropdown__sublink">
                                  Sealco
                              </a>
                           </li>
   
                        </ul>

                     
                       <li class="dropdown__subitem">
                        <div class="dropdown__link">
                          <i class="ri-focus-2-fill"></i> Abrasivos y Corte<i class="ri-add-line dropdown__add"></i>
                        </div>

                        <ul class="dropdown__submenu">
                           <li>
                              <a href="#" class="dropdown__sublink">
                                 <i class="ri-file-list-line"></i> Documents
                              </a>
                           </li>
   
                        
                           
                        </ul>
                     </li>

                     <li class="dropdown__subitem">
                        <div class="dropdown__link">
                            <i class="ri-shield-line"></i> Seguridad Industrial
                        </div>


                    </ul>
                 </li>
                 
                

             
                 <li><a href="#" class="nav__link">Contacto</a></li>
              </ul>
           </div>
           
        </nav>
     </header>
