<nav class="navbar navbar-inverse bg-inverse sticky-top">
    <div class="container p-0 relative">
        <div class="row navbar navbar-toggleable-sm">
            <div class="col-md-2 col-12">
                <a class="navbar-brand" href="#">
                    <img class="logo" href="# " src="assets/imagenes/logo.png">
                </a>
                <div class="absolute" style=" right:0px;">
                    <button class="navbar-toggler mx-3" style="height:40px" type="button" id="search-click">
                        <img class="" href="" src="assets/imagenes/btn_busqueda.jpg">
                    </button>
                    <button class="navbar-toggler" style="height:40px" type="button" id="burger">
                        <span class="navbar-toggler-icon"></span>
                        <!-- <i class="fa fa-whatsapp my-float"></i> -->
                    </button>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="nava">
                <div class="col-12">
                    <ul class="mr-list-20px navbar-nav my-2 my-md-0 float-md-right">
                        <li class="nav-item ">
                            <a class="nav-link " href="# ">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" role="button" id="mega-menu-btn">Categorias</a>
                        </li>
                        <li class="nav-item">
                            <button class="btn" id="search-click-list" style="background:none;">
                                <img class="" href="" src="assets/imagenes/btn_busqueda.jpg">
                            </button>
                        </li>
                        <li class="hidden-sm-down ml-4">
                            <span class="fa fa-whatsapp my-float" style="font-size: 2vw;"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row no-gutters collapse " id="searchform" style="">
            <div class="col-12">
                <form action="" method="get" class="w-100 mt-3">
                    <div class="row no-gutters search-group">
                        <div class="col-12 col-md-11">
                            <input type="search" name="search" placeholder="Busca el producto que necesitas" class="search-input bg-inverse text-color-a0 col-12">
                        </div>
                        <div class="col-12 col-md-1 justify-content-center justify-content-md-end  mt-3 mt-md-0 ">
                            <button type="submit" class="btn-search text-color-a0 bg-success">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="text-white bg-color-a1 collapse" id="mega-menu">
        <div class="container py-4">
            <div class="row">
                <div class="col">
                    <div class="mb-2">
                        <h5 class="text-uppercase font-weight-normal">Herramientas</h5>
                    </div>
                    <ul class="list-unstyled">
                        <li>
                            <a href='#'>Martillos</a>
                        </li>
                        <li>
                            <a href='#'>Destornilladores</a>
                        </li>
                        <li>
                            <a href='#'>Llaves</a>
                        </li>
                        <li>
                            <a href='#'>Alicates</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <div class="mb-2">
                        <h5 class="text-uppercase font-weight-normal">Materiales de Construcción</h5>
                    </div>
                    <ul class="list-unstyled">
                        <li>
                            <a href='#'>Cemento</a>
                        </li>
                        <li>
                            <a href='#'>Arena</a>
                        </li>
                        <li>
                            <a href='#'>Grava</a>
                        </li>
                        <li>
                            <a href='#'>Ladrillos</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <div class="mb-2">
                        <h5 class="text-uppercase font-weight-normal">Pinturas y Accesorios</h5>
                    </div>
                    <ul class="list-unstyled">
                        <li>
                            <a href='#'>Pinturas</a>
                        </li>
                        <li>
                            <a href='#'>Brochas</a>
                        </li>
                        <li>
                            <a href='#'>Rodillos</a>
                        </li>
                        <li>
                            <a href='#'>Lijadoras</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <div class="mb-2">
                        <h5 class="text-uppercase font-weight-normal">Electricidad</h5>
                    </div>
                    <ul class="list-unstyled">
                        <li>
                            <a href='#'>Cables</a>
                        </li>
                        <li>
                            <a href='#'>Interruptores</a>
                        </li>
                        <li>
                            <a href='#'>Enchufes</a>
                        </li>
                        <li>
                            <a href='#'>Bombillas</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <div class="mb-2">
                        <h5 class="text-uppercase font-weight-normal">Fontanería</h5>
                    </div>
                    <ul class="list-unstyled">
                        <li>
                            <a href='#'>Tuberías</a>
                        </li>
                        <li>
                            <a href='#'>Válvulas</a>
                        </li>
                        <li>
                            <a href='#'>Grifos</a>
                        </li>
                        <li>
                            <a href='#'>Conectores</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
   
</nav>