<div class="banner">
    <picture>
      <!-- Para pantallas grandes (mayores de 768px) -->
      <source media="(min-width: 768px)" srcset="assets/imagenes/mediosdepago_desk.jpg">
      <!-- Para pantallas medianas (entre 576px y 768px) -->
      <source media="(min-width: 576px)" srcset="assets/imagenes/mediosdepago_ipad.jpg">
      <!-- Para pantallas pequeñas (menores de 576px) -->
      <img src="assets/imagenes/mediosdepago_movil.jpg" alt="Banner">
    </picture>
    <div class="banner-content">
      <div class="text-container">
        <h1>Medios de pago aceptados</h1>
      
      </div>
    </div>
  </div>