<div class="contquienes">
  <div class="imagenx3">
    <img src="/assets/imagenes/imgx3.gif" alt="">
  </div>
  <div class="textosquien">
    <h6>Quienes somos</h6>
    <h3>Somos una empresa especializada en la comercialización de artículos de ferretería, repuestos para equipos de perforación y transmisión de potencia.</h3>
    <h5>Contamos con un equipo altamente capacitado y comprometido, enfocado en ofrecer productos de calidad y un servicio excepcional, manteniéndonos a la vanguardia de las tendencias del mercado y priorizando siempre la satisfacción del cliente.</h5>
  </div>
</div>

<div class="contmision">
  <div class="textosmision">
    <h6>Nuestra Misión</h6>
    <h3>Nos dedicamos a impulsar el crecimiento interno y externo</h3>
    <h5>mediante estrategias innovadoras, beneficiando a clientes y empleados con asesoría técnica integral y un servicio posventa de calidad, guiados por principios de responsabilidad y compromiso.</h5>
  </div>
  <div class="imagenmision">
    <img src="/assets/imagenes/imgmisionbg.jpg" alt="">
  </div>
</div>

<div class="contvision">
  <div class="textos">
    <h6>Nuestra Visión</h6>
    <h3>Aspiramos a ser líderes en soluciones integrales</h3>
    <h5>para material ferretero y transmisión de potencia, superando expectativas con productos y servicios de excelencia, extendiendo nuestra presencia a nivel nacional y contribuyendo al crecimiento económico con calidad e innovación.</h5>
  </div>
</div>

<div class="contimgx2">
  <div class="imgizqfinal">
    <img src="/assets/imagenes/imgizqfinal.jpg" alt="">
  </div>
  <div class="imgderfinal">
    <img src="/assets/imagenes/imgderfinal.jpg" alt="">
  </div>
</div>
