.contimgx2  {
height: 10%;
  width: 100%;


}
.imgizqfinal {
max-width: 100%;

display: flex;
justify-content:center ;
}

/* .imgderfinal {
  max-width: auto;
  display: flex;
align-content: flex-end;
} */
@media (min-width: 1265px) {
  .contimgx2 {

 height: 25%;
  }


 }
 @media (max-width: 565px) {
  .contimgx2 {

    max-height: 30%;
  }

  
 }
 @media (max-width: 365px) {
  
  .contimgx2 {

    max-height: 45%;
  }
 }