<div *ngIf="product" class="contmargin">
    <!-- Botón de volver a la lista de productos y Breadcrumb -->
    <header style="background-color:#fafafa;">
        <div class="container p-0 d-flex align-items-center" style="margin-top: 2vw;">
            <!-- Botón de volver a la lista de productos -->
            <button (click)="goBack()" class="back-button">
                <i class="fas fa-arrow-left"></i>
            </button>
            <!-- Breadcrumb -->
            <ol class="breadcrumb m-0 ml-3 linksnav" style="background-color:#fafafa">
                <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/listadoproductos/category', product.category]" class="nav__link">{{product.category}}</a></li>
                <li class="breadcrumb-item active">{{ product.name }}</li>
            </ol>
        </div>
    </header>
  
    <!-- Main Content -->
    <main>
        <div class="container mb-4">
            <!-- Detail Product -->
            <div class="row no-gutters mt-4">
                <div class="col-12 col-md-7">
                  <div class="row no-gutters w-100">
                      <!-- Main picture -->
                      <div class="col-12 col-lg-10 flex-lg-last border-full-1px-solid border-color-a0">
                          <div class="d-flex justify-content-center align-items-center w-100 px-5">
                              <img src="{{product.mainimage}}" class="img-fluid" id="main-image" style="max-height:600px;">
                          </div>
                      </div>
                  </div>
              </div>
                <!-- Options Product -->
                <div class="col-12 col-md-5">
                    <div class="pt-0 pr-2 pb-2 pl-1 pl-md-5">
                        <!-- Title -->
                        <div class="mb-4 border-full-2px-solid border-top-0 border-left-0 border-right-0 border-color-inverse">
                            <h1>{{ product.name }}</h1>
                        </div>
                        <!-- Price -->
                        <!-- <div class="mb-5">
                            <h4>{{ product.fichatec }}</h4>
                            <h6 class="text-muted font-size-08 text-uppercase">PRECIO:</h6>
                            <h5>{{ product.pricedesc }}</h5>
                        </div> -->
                        <div class="mb-5" *ngIf="product.descuento; else elseBlock">
                            <h4>{{ product.fichatec }}</h4>
                            <h6 class="text-muted font-size-08 text-uppercase">PRECIO:</h6>
                            <h5>${{ product.pricedesc }}</h5>
                        </div> 
                        <ng-template #elseBlock>
                            <div class="mb-5">
                                <h4>{{ product.fichatec }}</h4>
                                <h6 class="text-muted font-size-08 text-uppercase">PRECIO:</h6>
                                <h5>{{ product.pricepublic }}</h5>
                            </div>
                        </ng-template>

                        <!-- Add to Cart Button -->
                        <button type="button" class="mb-1 btn py-3 px-5 bg-inverse text-color-a0 text-uppercase font-weight-bold" style="border-radius:0px;" (click)="sendWhatsAppMessage(product.id)">Contactanos</button>
                    </div>
                </div>
            </div>
        </div>
  
        <!-- Description / Details / Shipping -->
        <div class="container">
            <div class="my-5">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link text-color-a1 active" data-toggle="tab" href="#description" role="tab">Ficha Tecnica</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-color-a1" data-toggle="tab" href="#details" role="tab">Descripcion</a>
                    </li>
                </ul>
                <div class="tab-content font-size-09" style="background-color:#fafafa">
                    <div class="tab-pane fade show active px-3 py-4 text-color-a2" id="description" role="tabpanel">
                        <p>{{product.description}}</p>
                    </div>
                    <div class="tab-pane fade px-3 py-4 text-color-a2" id="details" role="tabpanel">
                        <p>{{product.fichatec}}</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<div *ngIf="!product">
    <p>Producto no encontrado.</p>
</div>

<div class="container mb-4">
    <h4 class="text-center text-uppercase">Tambien te puede interesar</h4>
    <div class="row no-gutters gutter-20 mt-5 mb-20px">
      <div *ngFor="let product of productsFilter" class="col-6 col-md-3">
        <a (click)="viewProduct(product.id, product.name)" class="product-link">
            <div style="border:2px solid #fafafa" class="w-100">
                <div class="d-flex justify-content-center align-items-center">
                  <img class="img-fluid product-image" [src]="product.mainimage" alt="{{ product.name }}" />
                </div>
                <div class="text-center py-4">
                  <h6 class="product-name">{{ product.name }}</h6>
                  <h6 class="text-muted font-weight-normal product-price">{{ product.price | currency }}</h6>
                </div>
              </div>
        </a>      
      </div>
    </div>
</div>
