<div class="banner">
    <picture>
      <source media="(min-width: 1338px)" srcset="assets/imagenes/seccion-mensaje-final-05.jpg">
      <!-- Para pantallas grandes (mayores de 768px) -->
      <source media="(min-width: 660px)" srcset="assets/imagenes/seccion-mensaje-final-06.jpg">
      <!-- Para pantallas medianas (entre 576px y 768px) -->
      <source media="(min-width: 348px)" srcset="assets/imagenes/seccion-mensaje-final-07.jpg">
      <!-- Para pantallas pequeñas (menores de 576px) -->
      <img src="assets/imagenes/seccion-mensaje-final-08.jpg" alt="Banner">
    </picture>
    <div class="banner-content">
      <!-- <div class="text-container">
        <h1>Hacemos envíos y recogemos escombro en toda <b>Bogotá</b></h1>
        <button class="contact-button">Contactar</button>
      </div> -->
    </div>
  </div>