<div class="banner">
    <picture>
      <!-- Para pantallas grandes (mayores de 768px) -->
      <source media="(min-width: 768px)" srcset="assets/imagenes/seccion_contacto_desk.jpg">
      <!-- Para pantallas medianas (entre 576px y 768px) -->
      <source media="(min-width: 576px)" srcset="assets/imagenes/seccion_contacto_ipad.jpg">
      <!-- Para pantallas pequeñas (menores de 576px) -->
      <img src="assets/imagenes/seccion_contacto_movil.jpg" alt="Banner">
    </picture>
    <div class="banner-content">
      <div class="text-container">
        <h1>Hacemos envíos y recogemos escombro en toda <b>Bogotá</b></h1>
        <button class="contact-button">Contactar</button>
      </div>
    </div>
  </div>